In [1]:
# dependencies
import pandas as pd
from bs4 import BeautifulSoup as bs
from splinter import Browser
from webdriver_manager.chrome import ChromeDriverManager

# **Step 1 - Scraping**

### __NASA Mars News__

In [2]:
# setup splinter
executable_path = {'executable_path': ChromeDriverManager().install()}
browser = Browser('chrome', **executable_path, headless=False)

[WDM] - Current google-chrome version is 86.0.4240
[WDM] - Get LATEST driver version for 86.0.4240

[WDM] - Driver [C:\Users\stuhu\.wdm\drivers\chromedriver\win32\86.0.4240.22\chromedriver.exe] found in cache

In [3]:
# NASA Mars News Site
url_1 = "https://mars.nasa.gov/news/"
browser.visit(url_1)

In [4]:
# HTML object
html = browser.html
# parse HTML with BeautifulSoup
soup = bs(html, 'html.parser')

In [5]:
# first result retrieved for element containing latest News Title and Paragraph Text
results = soup.find('div', class_='list_text')

In [6]:
# use find method to navigate and retrieve News Title attribute
# text assigned to variable for later reference
title = results.find('div', class_='content_title')
news_title = title.a.text
news_title

"NASA's Perseverance Rover Is Midway to Mars "

In [7]:
news = results.find('div', class_='article_teaser_body')
news_p = news.text
news_p

"Sometimes half measures can be a good thing – especially on a journey this long. The agency's latest rover only has about 146 million miles left to reach its destination."

###  **JPL Mars Space Images - Featured Image**

In [8]:
# setup new urls for the JPL Featured Space Image
url_2 = "https://www.jpl.nasa.gov/spaceimages/?search=&category=Mars"
url_2_og = "https://www.jpl.nasa.gov"

browser.visit(url_2)

In [9]:
# use splinter to navigate the site for the full size version of the current featured image
browser.links.find_by_partial_text('FULL IMAGE').click()

In [10]:
browser.links.find_by_partial_text('more info').click()

In [11]:
# HTML object created after navigating to correct page
html = browser.html
soup = bs(html, "html.parser")

In [12]:
# find and retreive image url to the full size image
image = soup.find('img', class_='main_image')
image_src = image['src']

In [13]:
# find and retreive title to image, with text cleanup
image_find = soup.find('header', id='page_header')
image_title = image_find.h1.text.strip()
image_title

'Chilean Volcanic Eruption Nighttime View'

In [14]:
# image date
image_date = soup.find('span', class_='release_date').text
image_date = image_date.replace("| ", "")
image_date

'April 27, 2015'

In [15]:
# save a complete url string for the Featured Space Image to a variable
feature_image_url = url_2_og + image_src
feature_image_url

'https://www.jpl.nasa.gov/spaceimages/images/largesize/PIA19382_hires.jpg'

### **Mars Facts**

In [16]:
# Mars Facts webpage
url_3 = "https://space-facts.com/mars/"

In [17]:
# use Pandas's 'read_html' to parse the url
tables = pd.read_html(url_3)

# find the  dataframe we want using list indexing, assign to 'df'
df = tables[0]
df

                      0                              1
0  Equatorial Diameter:                       6,792 km
1       Polar Diameter:                       6,752 km
2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
3                Moons:            2 (Phobos & Deimos)
4       Orbit Distance:       227,943,824 km (1.38 AU)
5         Orbit Period:           687 days (1.9 years)
6  Surface Temperature:                   -87 to -5 °C
7         First Record:              2nd millennium BC
8          Recorded By:           Egyptian astronomers

In [18]:
# rename the second column to 'Mars'
df.columns = ['Description', 'Mars']
# set first colum to index
df.set_index("Description", inplace = True)
# remove header for the index column
df.rename_axis(None, inplace = True)

df

                                               Mars
Equatorial Diameter:                       6,792 km
Polar Diameter:                            6,752 km
Mass:                 6.39 × 10^23 kg (0.11 Earths)
Moons:                          2 (Phobos & Deimos)
Orbit Distance:            227,943,824 km (1.38 AU)
Orbit Period:                  687 days (1.9 years)
Surface Temperature:                   -87 to -5 °C
First Record:                     2nd millennium BC
Recorded By:                   Egyptian astronomers

In [19]:
# use Pandas to convert the data to a HTML table string
html_table = df.to_html()
html_table = html_table.replace("\n", "")
html_table

'<table border="1" class="dataframe">  <thead>    <tr style="text-align: right;">      <th></th>      <th>Mars</th>    </tr>  </thead>  <tbody>    <tr>      <th>Equatorial Diameter:</th>      <td>6,792 km</td>    </tr>    <tr>      <th>Polar Diameter:</th>      <td>6,752 km</td>    </tr>    <tr>      <th>Mass:</th>      <td>6.39 × 10^23 kg (0.11 Earths)</td>    </tr>    <tr>      <th>Moons:</th>      <td>2 (Phobos &amp; Deimos)</td>    </tr>    <tr>      <th>Orbit Distance:</th>      <td>227,943,824 km (1.38 AU)</td>    </tr>    <tr>      <th>Orbit Period:</th>      <td>687 days (1.9 years)</td>    </tr>    <tr>      <th>Surface Temperature:</th>      <td>-87 to -5 °C</td>    </tr>    <tr>      <th>First Record:</th>      <td>2nd millennium BC</td>    </tr>    <tr>      <th>Recorded By:</th>      <td>Egyptian astronomers</td>    </tr>  </tbody></table>'

### **Mars Hemispheres**

In [20]:
# url for the USGS Astrogeology site
url_4 = "https://astrogeology.usgs.gov/search/results?q=hemisphere+enhanced&k1=target&v1=Mars"
url_4_og = "https://astrogeology.usgs.gov"

In [21]:
# create empty list for each hemisphere dictionary
hemisphere_image_urls = []

# create list of hemispheres to iterate through
hemisphere_list = ["Cerberus Hemisphere", "Schiaparelli Hemisphere",
                   "Syrtis Major Hemisphere", "Valles Marineris Hemisphere"]

# use a for loop to repeat operations for each hemisphere in our list
for hemisphere in hemisphere_list:

# visit landing page for the hemispheres
    browser.visit(url_4)

# use splinter to click the appropirate hemisphere link
    browser.links.find_by_partial_text(f'{hemisphere} Enhanced').click()

# html and soup objects created
    html = browser.html
    soup = bs(html, "html.parser")

# use find to retrieve the full resolution image url, store as complete url string
    results = soup.find('img', class_='wide-image')
    link = results['src']
    full_link = url_4_og + link

# create a dictionary with image url and append to list
    temp_dict = {
        "title": f"{hemisphere}",
        "img_url": full_link
    }
    hemisphere_image_urls.append(temp_dict)

In [22]:
# verify list of dictionaries for each hemisphere
hemisphere_image_urls

[{'title': 'Cerberus Hemisphere',
  'img_url': 'https://astrogeology.usgs.gov/cache/images/f5e372a36edfa389625da6d0cc25d905_cerberus_enhanced.tif_full.jpg'},
 {'title': 'Schiaparelli Hemisphere',
  'img_url': 'https://astrogeology.usgs.gov/cache/images/3778f7b43bbbc89d6e3cfabb3613ba93_schiaparelli_enhanced.tif_full.jpg'},
 {'title': 'Syrtis Major Hemisphere',
  'img_url': 'https://astrogeology.usgs.gov/cache/images/555e6403a6ddd7ba16ddb0e471cadcf7_syrtis_major_enhanced.tif_full.jpg'},
 {'title': 'Valles Marineris Hemisphere',
  'img_url': 'https://astrogeology.usgs.gov/cache/images/b3c7c6c9138f57b4756be9b9c43e3a48_valles_marineris_enhanced.tif_full.jpg'}]

In [23]:
browser.quit()